@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

body {
  background-color: rgb(42, 69, 93);
  color: rgb(234, 230, 230);
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgb(64, 118, 130);
  color: white;
  padding: 6px 35px;
  outline: none;
}

button:hover {
  background-color: rgb(102, 169, 184);
}

button:focus {
  background-color: rgb(102, 169, 184);
}

input {
  background-color: rgb(64, 118, 130); 
  border: none; 
  border-radius: 5px; 
  outline: none;
  padding: 10px;
  font-size: 18px; 
  color: rgb(234, 230, 230);
}

input::placeholder {
  color: rgb(192, 211, 22);
}

input:focus {
  background-color: rgb(102, 169, 184); 
}

hr {
  width: 30%;
}

.placeholder {
  color: rgb(170, 170, 170);
  font-size: 14px;
  font-style: italic;
}
